@model CheckingUTP.Models.ModelsUTP.UTP
@using CheckingUTP.Models.ModelsUTP

<form method="post">
    <div class="row mb-3">
        <label for="var" class="col-sm-4 col-form-label">Номер УТП:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Utp_id />
        </div>
    </div>
    <div class="row mb-3">
        <label for="name" class="col-sm-4 col-form-label">Название УТП:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="name" asp-for=@Model.propertyUTP.Name />
        </div>
    </div>
    <div class="row mb-3">
        <label for="Hour" class="col-sm-4 col-form-label">Всего часов:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="Hour" asp-for=@Model.propertyUTP.Hour />
        </div>
    </div>
    <div class="row mb-3">
        <label for="Kol_groups" class="col-sm-4 col-form-label">Количество групп:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="Kol_groups" asp-for=@Model.propertyUTP.Kol_groups />
        </div>
    </div>
    <div class="row mb-3">
        <label for="Kol_slushatel_v_group" class="col-sm-4 col-form-label">Количество слушателей в группе:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="Kol_slushatel_v_group" asp-for=@Model.propertyUTP.Kol_slushatel_v_group />
        </div>
    </div>
    <div class="row mb-3">
        <label for="Rejim_zanyati" class="col-sm-4 col-form-label">Режим занятий:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="Rejim_zanyati" asp-for=@Model.propertyUTP.Rejim_zanyati />
        </div>
    </div>
    <div class="row mb-3">
        <label for="Forma_obuchen" class="col-sm-4 col-form-label">Форма обучения:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input100" id="Forma_obuchen" asp-for=@Model.propertyUTP.Forma_obuchen />
        </div>
    </div>

    <input type="hidden" class="form-control input100" id="var" asp-for=@Model.table />

    <input type="submit" class="form-control input100" asp-action="SaveUTPOnline" asp-controller="CheckUTPExcel" />

    <div class="row">

        @{int a = 0;}
        <div class="area col-6 shadow-lg border text-center" id="ar0">

            <div class="shadow" id="el-st" draggable="true">


                <table class="table   table-sm table-bordered " style="table-layout: fixed">

                    <tr style="    height: 130px;">
                        <td class="col-12">
                            Вид нагрузки
                        </td>
                        <td class="mw-50">
                            <p class="vert">Кол_часов</p>
                        </td>
                        <td class="mw-50">
                            <p class="vert">Кол_гупп</p>
                        </td>
                        <td class="mw-50">
                            <p class="vert">Кол_подгрупп</p>
                        </td>
                        <td class="mw-50">
                            <p class="vert">Фор.контр.</p>
                        </td>
                        <td class="mw-50">
                            <p class="vert">Кол_слушателей</p>
                        </td>
                        <td class="mw-50">
                            <p class="vert">Объем_учеб._нагруз.</p>
                        </td>
                        <td class="mw-100">

                            <p class="vert">Статус</p>
                        </td>
                    </tr>
                </table>

            </div>



            @foreach (TableModel table in Model.table)
            {
                <input type="hidden" class="form-control input100" id="q" asp-for=@table.Row.Count />
                @for (int i = 0; i < table.Row.Count; i++)
                {

                    if (table.Row[@i].Type == 0)
                    {


                        var row = table.Row[@i];



                        <div class="shadow" id="el-@a" draggable="true">


                            <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                <tr>
                                    <td class="">
                                        <input class="col-12" type="text" onchange="SaveOnChange(@row.ID,1, this.value)" asp-for="@row.NameTypeTrainingLoad" value='@row.NameTypeTrainingLoad'>
                                    </td>
                                    <td class="mw-50">
                                        <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.VoulmeHoursPerListener'>
                                    </td>
                                    <td class="mw-50">
                                        <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                    </td>
                                    <td class="mw-50">
                                        <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                    </td>
                                    <td class="mw-50">
                                        <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                    </td>
                                    <td class="mw-50">
                                        <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                    </td>
                                    <td class="mw-50">
                                        <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                    </td>
                                    <td class="mw-100">
                                        <input type="text" class="mw-100" disabled value='@row.Status'>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        a++;



                    }
                }

            }
        </div>

        <div class="col-6">

            <div class="area col-12 shadow-lg border text-center" id="ar1">
                <h4>Дистанционная нагрузка</h4>
                <div class="shadow" id="el-st" draggable="true">


                    <table class="table   table-sm table-bordered " style="table-layout: fixed">

                        <tr style="    height: 130px;">
                            <td class="col-12">
                                Вид нагрузки
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_часов</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_гупп</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_подгрупп</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Фор.контр.</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_слушателей</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Объем_учеб._нагруз.</p>
                            </td>
                            <td class="mw-100">

                                <p class="vert">Статус</p>
                            </td>
                        </tr>
                    </table>

                </div>



                @foreach (TableModel table in Model.table)
                {

                    @for (int i = 0; i < table.Row.Count; i++)
                    {
                        if (table.Row[@i].Type == 3)
                        {


                            var row = table.Row[@i];

                            @if (row.NameTypeTrainingLoad != "Всего часов :")
                            {

                                <div class="shadow" id="el-@a" draggable="true">


                                    <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                        <tr>
                                            <td class="">
                                                <input class="col-12" type="text" onchange="SaveOnChange(@row.ID,1, this.value)" asp-for="@row.NameTypeTrainingLoad" value='@row.NameTypeTrainingLoad'>
                                            </td>
                                            <td class="mw-50">
                                                <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.VoulmeHoursPerListener'>
                                            </td>
                                            <td class="mw-50">
                                                <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                            </td>
                                            <td class="mw-50">
                                                <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                            </td>
                                            <td class="mw-50">
                                                <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                            </td>
                                            <td class="mw-50">
                                                <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                            </td>
                                            <td class="mw-50">
                                                <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                            </td>
                                            <td class="mw-100">
                                                <input type="text" class="mw-100" disabled value='@row.Status'>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                a++;

                            }

                        }

                    }
                }
            </div>
            <div class="area col-12 shadow-lg border text-center" id="ar2">
                <h4>Аудиторная нагрузка</h4>
                <div class="shadow" id="el-st" draggable="true">


                    <table class="table   table-sm table-bordered " style="table-layout: fixed">

                        <tr style="    height: 130px;">
                            <td class="col-12">
                                Вид нагрузки
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_часов</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_гупп</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_подгрупп</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Фор.контр.</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_слушателей</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Объем_учеб._нагруз.</p>
                            </td>
                            <td class="mw-100">

                                <p class="vert">Статус</p>
                            </td>
                        </tr>
                    </table>

                </div>
                @foreach (TableModel table in Model.table)
                {

                    @for (int i = 0; i < table.Row.Count; i++)
                    {
                        if (table.Row[@i].Type == 1)
                        {


                            var row = table.Row[@i];



                            <div class="shadow" id="el-@a" draggable="true">


                                <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                    <tr>
                                        <td class="">
                                            <input class="col-12" type="text" onchange="SaveOnChange(@row.ID,1, this.value)" asp-for="@row.NameTypeTrainingLoad" value='@row.NameTypeTrainingLoad'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.VoulmeHoursPerListener'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                        </td>
                                        <td class="mw-100">
                                            <input type="text" class="mw-100" disabled value='@row.Status'>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            a++;



                        }
                    }
                }

            </div>
            <div class="area col-12 shadow-lg border text-center" id="ar3">
                <h4>Внеаудиторная нагрузка</h4>
                <div class="shadow" id="el-st" draggable="true">


                    <table class="table   table-sm table-bordered " style="table-layout: fixed">

                        <tr style="    height: 130px;">
                            <td class="col-12">
                                Вид нагрузки
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_часов</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_гупп</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_подгрупп</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Фор.контр.</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Кол_слушателей</p>
                            </td>
                            <td class="mw-50">
                                <p class="vert">Объем_учеб._нагруз.</p>
                            </td>
                            <td class="mw-100">

                                <p class="vert">Статус</p>
                            </td>
                        </tr>
                    </table>

                </div>
                @foreach (TableModel table in Model.table)
                {

                    @for (int i = 0; i < table.Row.Count; i++)
                    {
                        if (table.Row[@i].Type == 2)
                        {


                            var row = table.Row[@i];


                            <div class="shadow" id="el-@a" draggable="true" onchange=SaveOnChange(ID, Type)>


                                <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                    <tr>
                                        <td class="">
                                            <input class="col-12" type="text" onchange="SaveOnChange(@row.ID,1, this.value)" asp-for="@row.NameTypeTrainingLoad" value='@row.NameTypeTrainingLoad'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.VoulmeHoursPerListener'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                        </td>
                                        <td class="mw-50">
                                            <input type="text" class="mw-46" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                        </td>
                                        <td class="mw-100">
                                            <input type="text" class="mw-100" disabled value='@row.Status'>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            a++;



                        }
                    }
                }
            </div>



        </div>
    </div>



</form>
<script>

    function SaveOnChange(ID, Type, Value) {


        jQuery.ajax({
            url: '/CheckUTPExcel/SaveOnChange/',
            type: "POST",
            dataType: "json",
            data: { ID, Type, Value },
            success: function (answer) {
                conole.log(answer);

            }
        });
    }
</script>

<style>
    .elem {
        width: 600px;
        height: 250px;
        margin: 10px auto;
        text-align: center;
        /*line-height: 250px;*/
    }

    .area {
        /* width: 600px;*/
        /*height: 350px;*/
        /*border: 10px solid plum;*/
        margin: 20px auto;
        padding: 10px;
    }
</style>







<script>


    let area1 = document.querySelector("#ar1");
    let area2 = document.querySelector("#ar2");
    let area3 = document.querySelector("#ar3");
    let areaSt = document.querySelector("#ar0");
    var q;
    var count = document.querySelector("#q").value;
    for (i = 0; i < count; i++) {
        let elem1 = document.querySelector("#el-" + i + "");
        elem1.addEventListener('dragstart', function () {

            q = elem1;

        });
    }


    area1.addEventListener("dragover", function () {
        event.preventDefault();

    });
    area2.addEventListener("dragover", function () {
        event.preventDefault();



    });
    area3.addEventListener("dragover", function () {
        event.preventDefault();


    });

    areaSt.addEventListener("dragover", function () {
        event.preventDefault();

    });
    area1.addEventListener("drop", function (event) {
        this.appendChild(q);
    });

    area2.addEventListener("drop", function (event) {
        this.appendChild(q);
    });
    area3.addEventListener("drop", function (event) {
        this.appendChild(q);

    });

    areaSt.addEventListener("drop", function (event) {
        this.appendChild(q);
    });


</script>
