@model CheckingUTP.Models.ModelsUTP.UTP
@using CheckingUTP.Models.ModelsUTP
<form method="post">
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Utp_id />
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Name />
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Hour />
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Kol_groups />
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Kol_slushatel_v_group />
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Rejim_zanyati />
    <input type="text" class="form-control input100" id="var" asp-for=@Model.propertyUTP.Forma_obuchen />
    <input type="hidden" class="form-control input100" id="var" asp-for=@Model.table />
    <input type="submit" class="form-control input100" asp-action="SaveUTPOnline" asp-controller="CheckUTPExcel" />

    <div class="row">

        @{int a = 0;}
        <div class="area col-6 shadow-lg border text-center" id="ar0">
            @foreach (TableModel table in Model.table)
            {

                @for (int i = 0; i < table.Row.Count; i++)
                {
                    if (table.Row[@i].Type == 0)
                    {


                        var row = table.Row[@i];



                        <div class="shadow" id="el-@a" draggable="true">


                            <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                <tr>
                                    <td width="100">
                                        <input type="text" onchange="SaveOnChange(@row.ID,1, this.value)" asp-for="@row.NameTypeTrainingLoad" value='@row.NameTypeTrainingLoad'>
                                    </td>
                                    <td width="20">
                                        <input type="text" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.NumberHours'>
                                    </td>
                                    <td width="20">
                                        <input type="text" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                    </td>
                                    <td width="20">
                                        <input type="text" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                    </td>
                                    <td width="20">
                                        <input type="text" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                    </td>
                                    <td width="20">
                                        <input type="text" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                    </td>
                                    <td width="20">
                                        <input type="text" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                    </td>
                                    <td width="40">

                                        @row.Status
                                    </td>
                                </tr>
                            </table>

                        </div>
                        a++;



                    }
                }

            }
        </div>



        <div class="col-6">







            <div class="area col-12 shadow-lg border text-center" id="ar1">
                @foreach (TableModel table in Model.table)
                {

                    @for (int i = 0; i < table.Row.Count; i++)
                    {
                        if (table.Row[@i].Type == 3)
                        {


                            var row = table.Row[@i];

                            @if (row.NameTypeTrainingLoad != "Всего часов :")
                            {

                                <div class="shadow" id="el-@a" draggable="true">


                                    <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                        <tr>
                                            <td width="100">
                                                <input type="text" onchange="SaveOnChange(@row.ID,1, this.value)" value='@row.NameTypeTrainingLoad'>
                                            </td>
                                            <td width="20">
                                                <input type="text" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.NumberHours'>
                                            </td>
                                            <td width="20">
                                                <input type="text" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                            </td>
                                            <td width="20">
                                                <input type="text" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                            </td>
                                            <td width="20">
                                                <input type="text" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                            </td>
                                            <td width="20">
                                                <input type="text" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                            </td>
                                            <td width="20">
                                                <input type="text" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                            </td>
                                            <td width="40">

                                                @row.Status
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                a++;

                            }

                        }

                    }
                }
            </div>
            <div class="area col-12 shadow-lg border text-center" id="ar2">
                @foreach (TableModel table in Model.table)
                {

                    @for (int i = 0; i < table.Row.Count; i++)
                    {
                        if (table.Row[@i].Type == 1)
                        {


                            var row = table.Row[@i];



                            <div class="shadow" id="el-@a" draggable="true">


                                <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                    <tr>
                                        <td width="100">
                                            <input type="text" onchange="SaveOnChange(@row.ID,1, this.value)" value='@row.NameTypeTrainingLoad'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.NumberHours'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                        </td>
                                        <td width="40">

                                            @row.Status
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            a++;



                        }
                    }
                }

            </div>
            <div class="area col-12 shadow-lg border text-center" id="ar3">
                @foreach (TableModel table in Model.table)
                {

                    @for (int i = 0; i < table.Row.Count; i++)
                    {
                        if (table.Row[@i].Type == 2)
                        {


                            var row = table.Row[@i];


                            <div class="shadow" id="el-@a" draggable="true" =SaveOnChange(ID, Type)>


                                <table class="table table-hover  table-sm table-bordered shadow" style="table-layout: fixed">

                                    <tr>
                                        <td width="100">
                                            <input type="text" onchange="SaveOnChange(@row.ID,1, this.value)" value='@row.NameTypeTrainingLoad'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,2, this.value)" value='@row.NumberHours'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,3, this.value)" value='@row.NumberGroups'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,4, this.value)" value='@row.NumberSubgroups'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,5, this.value)" value='@row.NumberControlForms'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,6, this.value)" value='@row.NumberListeners'>
                                        </td>
                                        <td width="20">
                                            <input type="text" onchange="SaveOnChange(@row.ID,7, this.value)" value='@row.VolumeHours'>
                                        </td>
                                        <td width="40">

                                            @row.Status
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            a++;



                        }
                    }
                }
            </div>



        </div>
    </div>



</form>
<script>

  function SaveOnChange(ID, Type,Value) {


      jQuery.ajax({
          url: '/CheckUTPExcel/SaveOnChange/',
          type: "POST",
          dataType: "json",
          data: { ID,Type,Value },
          success: function (answer) {
              conole.log(answer);

          }
      });
  }
  </script>

<style>
  .elem {
    width: 600px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    /*line-height: 250px;*/
  }

  .area {
    /* width: 600px;*/
    height: 350px;
    /*border: 10px solid plum;*/
    margin: 20px auto;
    padding: 10px;
  }
</style>







<script>


  let area1 = document.querySelector("#ar1");
  let area2 = document.querySelector("#ar2");
  let area3 = document.querySelector("#ar3");
  let areaSt = document.querySelector("#ar0");
  var q;

  for (i = 0; i < 12; i++) {
    let elem1 = document.querySelector("#el-" + i + "");
    elem1.addEventListener('dragstart', function () {

      q = elem1;

    });
  }


  area1.addEventListener("dragover", function () {
    event.preventDefault();

  });
  area2.addEventListener("dragover", function () {
    event.preventDefault();



  });
  area3.addEventListener("dragover", function () {
    event.preventDefault();


  });

  areaSt.addEventListener("dragover", function () {
    event.preventDefault();

  });
  area1.addEventListener("drop", function (event) {
    this.appendChild(q);
  });

  area2.addEventListener("drop", function (event) {
    this.appendChild(q);
  });
  area3.addEventListener("drop", function (event) {
    alert(q.id);
    this.appendChild(q);

  });

  areaSt.addEventListener("drop", function (event) {
    this.appendChild(q);
  });


</script>
